*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

header{
    background-color: dimgray;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li.active a{
    background-color: white;
    color: black;
}

ul li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 5px 20px;
    border: 1px solid whitesmoke transparent;
    border-radius:  25px;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: white;
    color: black;
}

.title{
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    
}

.title h1{
    color: whitesmoke;
    font-size: 70px;
}

.title h2{
    color: whitesmoke;
    font-size: 20px;
}

.title h3{
    color: whitesmoke;
    font-size: 15px;
}

.biodata{
    position: absolute;
    color: whitesmoke;
    top: 30%;
    right: 10%;
}

.biodata h1{
    font-size: 100px;
    font-style: italic;
    font-family: monospace;
}

.biodata h2,h3,h4{
    font-family:cursive;
    font-size: 20px;
}
.photo{
    position: absolute;
    width: 500px;
    height: auto;
    left: 3%;
}

.instagram{
    position:absolute;
    width: 50px;
    height: auto;
    top: 66%;
    right: 56%;
}

.instagram:hover{
    opacity: 0.7;
}

.coto{
    position: absolute;
    width: 25%;
    height: auto;
    right:  25pt;
    top: 100pt;
    border-radius: 5pt;
}

.cototext{
    font-family: sans-serif;
    color: whitesmoke;
}

.cototext h1{
    position: absolute;
    font-size: 50pt;
    top: 25%;
    left: 80pt;
    text-align: center;
    font-style: italic;
}

.cototext p1{
    position: absolute;
    font-size: 15pt;
    top: 38%;
    left: 80pt;
    text-align: justify;
    font-style: normal;
}

.nasgor{
    position: absolute;
    width: 25%;
    height: auto;
    left:  25pt;
    top: 450pt;
    border-radius: 5pt;
}

.button1 {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #4CAF50;
    position: absolute;
    top: 350pt;
    left: 80pt;
  }

.button1:hover{
    color: #4CAF50;
    background-color: white;
    transition: 0.2s ease
}

.nasgortext{
    color: whitesmoke;
}

.nasgortext h1{
    position: absolute;
    font-size: 50pt;
    top: 450pt;
    right: 80pt;
    text-align: center;
    font-style: italic;
}

.nasgortext p1{
    position: absolute;
    font-size: 15pt;
    top: 520pt;
    right: 80pt;
    text-align: right;
    font-style: normal;
}

.button2 {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #4CAF50;
    position: absolute;
    top: 630pt;
    right: 80pt;
  }

.button2:hover{
    color: #4CAF50;
    background-color: white;
    transition: 0.2s ease
}

.pantai{
    position: absolute;
    top: 60pt;
    left: 285pt;
    width: 450pt;
    height: auto;
}

.pantaitext{
    color: whitesmoke;
    font-family:sans-serif;
}

.pantaitext h1{
    position: absolute;
    top: 325pt;
    left: 285pt;
}

.pantaitext p1{
    position: absolute;
    top: 350pt;
    font-size: 15pt;
    left: 285pt;
    text-align: justify;
}

.tanjung{
    position: absolute;
    top: 450pt;
    left: 285pt;
    width: 450pt;
    height: auto;
}

.tanjungtext{
    color: whitesmoke;
    font-size: 15pt;
    position: absolute;
    top: 750pt;
    left: 285pt;
}

.hometown{
    position:absolute;
    height: 300pt;
    width: auto;
    top: 50pt;
    right: 25pt;
}
.hometowntext{
    color: whitesmoke;
    font-size: 15pt;
    position: absolute;
    top: 150pt;
}

.to-top{
    background-color: white;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: black;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

html{
    scroll-behavior: smooth;
}
